---
import AddProduct from "../../../components/store/AddProduct";
import Layout from "../../../layouts/Layout.astro";
import { jwtDecode } from "jwt-decode";
import Navbar from "../../../components/Navbar.astro";
import ProductsList from "../../../components/store/ProductsList";
import AsideStore from "../../../components/store/AsideStore.astro";
import ManageProduct from "../../../components/ManageProduct";
const token = Astro.cookies.get("token");
const tokenValue = token && token.value ? token.value : null;

// Verificar si el usuario es administrador
let isAdmin = false;

if (tokenValue) {
  try {
    const decodedToken = jwtDecode(tokenValue);
    isAdmin = decodedToken.isAdmin; // Asegúrate de que `isAdmin` está en tu token
  } catch (error) {
    console.error("Error al decodificar el token:", error);
  }
}
---
<Layout>
  {isAdmin ? (
      <div class="bg-valorant-dark text-valorant-light">
      <div id="container" class="flex">
        <!-- Menú Lateral -->
       <AsideStore />
        <!-- Contenido Principal -->
        <main class="w-full lg:ml-1/6 p-6 space-y-12">  
          
            <ManageProduct client:only="react" token={tokenValue} />
        </main>
      </div>
      <Navbar/>
    </div>
  ) : (
    <div class="text-center py-10  text-valorant-light">
      <h1 class="text-3xl font-bold text-red-500">Acceso Denegado</h1>
      <p class="text-lg mt-4">No tienes permisos para acceder a esta página.</p>
      <a href="/" class="text-blue-500 underline">Volver a la página principal</a>
    </div>
  )}
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  aside {
  width: 16.67%; /* Aproximadamente 1/6 del ancho total */
  max-width: 240px; /* Ancho máximo para pantallas grandes */
  min-width: 80px; /* Ancho mínimo para pantallas pequeñas */
  height: 100vh;
  overflow-y: auto;
}
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
      display: flex;
  flex-direction: row;
  height: 100%;  }

  main {
    flex: 1; /* Deja que el contenido principal ocupe el espacio restante */
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  body.bg-valorant-dark {
    background-color: #0f172a; /* Color de fondo para modo oscuro */
  }

  .text-valorant-light {
    color: #e2e8f0; /* Color de texto claro */
  }

  .bg-valorant-dark {
    background-color: #1e293b; /* Fondo oscuro */
  }

  .bg-valorant-darker {
    background-color: #0f172a; /* Fondo más oscuro */
  }

  .text-valorant {
    color: #f43f5e; /* Color de texto para Valorant */
  }

  .border-valorant-dark {
    border-color: #334155; /* Borde oscuro */
  }
</style>
