<nav
      class="fixed bottom-0 left-0 right-0 mx-auto flex w-full justify-between gap-8 border-t bg-valorant-dark bg-opacity-50 px-10 pt-5 pb-3 text-xs sm:max-w-md sm:rounded-t-xl sm:border-l sm:border-r sm:text-sm"
    >
      <a href="/" class="nav-link flex flex-col items-center gap-1 text-valorant transition duration-100 hover:text-valorant-light active:text-valorant">
        <span class="flex flex-col items-center gap-1 text-valorant transition duration-100 hover:text-valorant-light active:text-valorant-dark">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
            <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
          </svg>
    
      </a>
      <button
        onclick="history.back()"
        class="flex flex-col items-center gap-1 text-valorant transition duration-100 hover:text-valorant-light active:text-valorant-dark"
      >
      <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </button>
      <button
        onclick="history.forward()"
        class="flex flex-col items-center gap-1 text-valorant transition duration-100 hover:text-valorant-light active:text-valorant-dark"
      >
      <svg  xmlns="http://www.w3.org/2000/svg"  
      width="30"  
      height="30"  
      viewBox="0 0 24 24"  
      fill="none"  
      stroke="currentColor"
        stroke-width="2"
          stroke-linecap="round"  
          stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>     
     </button>
    
      <!-- nav - end -->
    </nav>