---
//src/layouts/Layout.astro
import "../styles/global.css";
import background from "../assets/background.svg";
import bannerValo from "../assets/VALORANT_logo4.jpg";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Metadata for SEO -->
    <meta
      name="description"
      content="Explora las APIs de videojuegos como Valorant y ZZZ, con datos actualizados sobre personajes, estadísticas, mapas y más. Aprende a integrarlas y mejorar tu experiencia de desarrollo."
    />
    <meta
      name="keywords"
      content="API, Valorant, ZZZ, videojuegos, desarrollo, estadísticas, datos, integración, programación"
    />
    <meta name="author" content="Cristian Villalobos" />

    <!-- Open Graph tags for social media -->
    <meta
      property="og:title"
      content="Cristian Villalobos - APIs de Valorant y ZZZ"
    />
    <meta
      property="og:description"
      content="Explora las APIs de Valorant y ZZZ, con información detallada sobre personajes, mapas y más. Aprende cómo utilizarlas para enriquecer tus proyectos."
    />
    <meta property="og:image" content={bannerValo.src} />
    <!-- Optional image for sharing -->
    <meta property="og:url" content="https://apis-cristian.netlify.app" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Cristian Villalobos - APIs de Valorant y ZZZ"
    />
    <meta
      name="twitter:description"
      content="Descubre las mejores APIs de videojuegos, como Valorant y ZZZ, con detalles sobre personajes, mapas y más para tus proyectos de desarrollo."
    />
    <meta name="twitter:image" content={bannerValo.src} />
    <!-- Optional image for sharing -->
    <meta name="twitter:site" content="@tuusuario" />
    <!-- Charset & Meta Tags -->
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <title>Cristian Villalobos - APIs de Valorant y ZZZ</title>
  </head>
  <body class="text-valorant-light font-sans bg-valorant-dark min-h-screen">
    <Navbar server:defer />

    <main class="relative flex-1">
      <img
        src={background.src}
        alt="Background Image"
        class="fixed inset-0 w-full h-full object-cover blur-3xl -z-40 opacity-50"
        fetchpriority="high"
      />

      <div class="container mx-auto px-4 py-8">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff4652 #000000;
  }
  *::-webkit-scrollbar {
    width: 42px;
  }
  *::-webkit-scrollbar-track {
    background: #000000;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #c93636;
    border-radius: 42px;
    border: 24px none #00ff4c;
  }

  @media (max-height: 368px) {
    #news {
      display: none;
    }
  }
</style>
